
h1 {
  font-size: 70px;
  color: white;
  margin: 0 auto;
  font-family: 'Luckiest Guy', cursive;
}

p {
  color: white;
  font-size: 25px;
}

h3, h4, h5, h6, p {
  margin: 0 auto;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  /* color: white; */
}

h3 {
  padding-top: 40px;
}
.jumbotron {
  margin-top: 0px;
  padding: 100px;
  background-color: rgb(43, 41, 73);
  flex-direction: column;
}

.card {
  max-width: 300px;
  max-height: 300px;
  padding: 10px;
  margin: 10px;
}

.game-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.score {
  padding: 30px;
}
