
h1 {
  font-size: 70px;
  color: white;
  margin: 0 auto;
}

h3, h5, h6 {
  margin: 0 auto;
  text-align: center;
  /* color: white; */
}

h3 {
  padding-top: 40px;
}
.jumbotron {
  margin-top: 0px;
  padding: 40px;
  background-color: rgb(43, 41, 73);
  flex-direction: column;
}

.card {
  max-width: 300px;
  max-height: 300px;
  padding: 10px;
  margin: 10px;
}

.game-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

